Project/Packages/packages-lock.json
Project/.vscode
Project/Logs
Project/UserSettings/Layouts/default-2021.dwlt
Project/UserSettings/EditorUserSettings.asset

Graph/Thumbs.db

Graph/UI_questions/Thumbs.db

Project/Assets/Graph/UI/Thumbs.db.meta

Graph/UI_tuto/Thumbs.db
